header{
    background: url(img/first-bg.jpg) no-repeat center top / cover;
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #222222;
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.container{
    width: 930px;
    margin: 0 auto;
}
.logo{
    margin-top: 45px;
    float: left;
}
div {
	box-sizing: border-box;
}
nav{
    float:  right;
    margin-top: 45px;
}
.menu{
    margin: 0;
    padding: 0;
    display: block;
}
.menu li{
    display: block;
    float: left;
    margin-right: 41px;
}
.menu a{
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 14px;
}
.first_titles{
    color: #aaa;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}
h1 {
	font-size: 75px;
	color: #aaa;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}
.button{
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    font-weight: bold;
    background: #fed136;
	color: #484543;
    border-radius: 3px;
    width: 240px;
    padding: 20px 0;
	font-size: 18px;
	margin-top: 50px;
}
.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.category_item	{
	width: 270px;
	float: left;
	text-align: center;
}
.category_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.category_item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}
.category_item:last-child {
	float: right;
}
.services {
	margin-top: 80px;
}
.category_item:nth-child(2) {
	margin-left: 60px;
}
#services {
	padding-bottom: 115px;
}
#portfolio {
	background: #f7f7f7;
	padding-bottom: 115px;
}
.picture{
    padding-top: 60px;
}
.picture img {
	float: left;
}
.picture img:last-child {
	float: right;
}
.picture img:nth-child(2) {
	margin-left: 30px;
}
#about{
    padding-bottom: 115px;
}
.left-div{
        float: left;
        width: 38%;
        text-align: right;
        margin-top: 70px;
        margin-right: 20px;
        padding-right: 10px;
}
.container img{
    margin-top: 70px;
}
.container img:last-child {
	float: right;
}
.right-div{
    float: right;
    width: 38%;
    text-align: left;
    margin-top: 70px;
    margin-left: 20px;
    padding-left: 10px;
}
footer{
    text-align: center;
}



.about{
    padding-top: 80px;
   }
   .about-elem{
    position: relative;
    display:block;
    text-align: center;
    margin-bottom: 80px;
   }
   .about-elem .image{
    display: inline-block;
    margin-top: -66px;
    border-radius: 50%;

    height: 200px;
   }
   .about-elem .image img{
    display: inline-block;
    vertical-align: top;
   }
   .about-elem .content{
    position: absolute;
    top: -15px;
   }
   .about-elem .text_rght{
    text-align: right;
   }
   .about-elem .text_lft{
    text-align: left;
   }
   .about-elem .content span{
    text-transform: uppercase;
   }
   .about-elem .content p{
    color: #777777;
    line-height:  1.55em;
   }
   
   .about-elem:nth-child(odd) .content{
    right: 50%;
    margin-right: 130px;
   }
   .about-elem:nth-child(even) .content{
    left: 50%;
    margin-left: 130px;
   }
   .about-elem .content .titless{
    font-weight: 700;
    text-align: right;
   }
   .about-elem .content .titless-lft{
    text-align: left;
   }
   #copyright p{
    color: #777777;
    text-align: center;
    margin: o auto;
    padding-top: 90px;
   }